.tab-item {
    list-style-type: none;
    margin-bottom: 10px;
}


.button {
    font-family: "Roboto";
    font-size: 20px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    padding: 15px 25px;
    color: #7d7575;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 188px;
    text-decoration: none;
}

.tab-item{
    position: relative;
    width: 242px;
    height: 70px;
    background: #d4d4d4;
    clip-path: polygon(0% 12%, 86% 12%, 100% 50%, 86% 88%, 0% 88%);
    margin-right: -50px;
}

.tab-item a{
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    bottom: 10px;
    background: white;
    clip-path: polygon(0% 0%, 87% 0%, 100% 50%, 87% 100%, 0% 100%);
}

.tabs-list li:last-child a{
    clip-path: none;
}

.tabs-list li:first-child{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.tabs-list li:first-child a {
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
} 

.tabs-list li:first-child {
    z-index: 4;
}

.tabs-list li:nth-child(2){
    z-index: 3;
}

.tabs-list li:nth-child(3){
    z-index: 2;
}

.tabs-list li:last-child{
    z-index: 1;
}

.tabs-list li:first-child{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.tabs-list li:last-child a {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    left: 3px;
}

.tabs-list li:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    clip-path: polygon(0% 12%, 100% 12%, 100% 50%, 100% 88%, 0% 88%);
}


.icon-img {
    width: 20px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.visited-tab-btn {
    background-color: #aed8b2 !important;
    color: #fff !important;
    /* border: 1px solid #43A047; */
}

.active-tab-btn {
    background-color: #013675 !important;
    color: #fff !important;
    /* border: 1px solid #1d3757; */
}

.visited-list-item {
    background: #43a047;
}

.active-list-item{
    background: #013675;
}